In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('../data/sotnikov.ad_hw12.csv', header=None)

In [8]:
df

   0  1
0  0  1
1  0  4
2  1  2
3  1  4
4  2  4
5  3  1
6  3  4

In [7]:
df.shape

(7, 2)