In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as st

In [2]:
data = pd.read_csv('../data/sotnikov.ad_hw8.csv', header=None)

In [3]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10
0,22.320766,-0.959725,0.124659,-0.688195,2.886640,0.501605,-0.938642,-0.397750,-0.627190,0.624186,-0.416243
1,22.320559,-1.169794,-1.355602,-0.145264,-1.681161,0.387861,-1.183301,0.048720,0.462108,-0.022408,-0.773925
2,22.320658,0.862509,0.072770,0.707932,-1.490631,-1.350281,0.738829,-0.203895,-1.232825,-1.936599,-1.365431
3,22.320674,0.146918,-1.504814,-1.132553,-1.053001,0.921663,-1.089101,0.065049,-1.362420,1.573880,0.349806
4,22.320560,0.383465,-0.402293,0.310915,-1.307309,-1.189256,-0.224382,0.942178,-0.454520,0.086573,0.370579

In [4]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,10
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,22.422709,0.026962,-0.033685,0.020382,0.004260,0.020822,0.020126,-0.018570,0.065698,-0.021103,-0.008192
std,5.632984,1.000510,0.995136,0.992364,1.039687,1.009872,1.023047,0.998440,0.986665,1.000105,0.984891
min,0.010000,-3.101080,-3.016477,-3.295724,-4.157458,-3.153689,-2.864447,-3.490535,-2.878937,-3.147737,-3.099638
25%,20.181847,-0.672916,-0.715741,-0.661268,-0.706002,-0.668973,-0.679001,-0.649695,-0.597469,-0.687292,-0.670468
50%,22.320658,0.030494,-0.032578,0.036589,0.032805,-0.009112,0.000432,-0.030796,0.050164,0.027257,-0.024664
75%,24.448936,0.702735,0.618848,0.708211,0.701133,0.674972,0.723378,0.665959,0.733932,0.636726,0.654236
max,46.585676,4.042908,3.202959,2.974298,3.034033,3.025533,3.170064,2.583814,3.052566,2.945397,3.095206

In [8]:
x = data.T.values

In [9]:
x

array([[ 2.23207664e+01,  2.23205594e+01,  2.23206580e+01, ...,
         1.81344956e+01,  1.26245760e+01,  2.35962517e+01],
       [-9.59725237e-01, -1.16979378e+00,  8.62509444e-01, ...,
        -1.12486823e-01, -1.01121679e+00, -1.15004682e+00],
       [ 1.24658624e-01, -1.35560238e+00,  7.27700995e-02, ...,
        -1.25220077e+00, -1.52475840e+00, -2.19131501e-01],
       ...,
       [-6.27189774e-01,  4.62107876e-01, -1.23282463e+00, ...,
         3.03850592e-01,  2.89448630e-01,  5.85775869e-01],
       [ 6.24185821e-01, -2.24082609e-02, -1.93659877e+00, ...,
        -1.65810673e+00, -6.77358131e-01, -9.65436205e-01],
       [-4.16242674e-01, -7.73924726e-01, -1.36543143e+00, ...,
         2.37305248e+00,  8.62104023e-01, -2.13565269e+00]])

In [13]:
len(x)

11

#### 1) Постройте линейную модель Y от X и свободного коэффициента. Проверьте, есть ли гетероскедастичность в выборке с использованием критерия Бройша-Пагана (использовать F-test, см. справку по критерию)

#### 2) Оптимальное значение lambda для преобразования Бокса-Кокса на переменную Y (использовать scipy.stats)

#### 3) Постройте линейную модель Y от X и свободного коэффициента для первых 100 элементов выборки. Сколько переменных являются избыточными согласно t-критерию? Поправку на множественность гипотез проигнорировать

#### 4) Имеет ли смысл данная модель согласно F-критерию?

#### 5) Можно ли обнулить первые четыре переменные согласно критерию Вальда?